@charset "utf-8";

/*============================================
全般的なスタイル
============================================*/
body {
	width:100%;			/*ページ全体の横幅*/
	background-color:#ffffff;	/*ページ全体の背景色*/
	background-image:none;		/*ウェブページ全体の背景画像を無しにする*/
	font-size:100%;			/* フォントサイズを100%にする */
}
div#pagebody {
	width:100%; margin:0 auto;	/*内容全体をセンタリング*/
	background-image:none;		/*コンテンツ全体の背景画像を無しにする*/
	background-repeat:no-repeat;	/*背景画像を繰り返さない*/
}

/*============================================
ヘッダ
============================================*/
div#header {
	height:46px;			/*ヘッダ部分の高さ*/
}
div#header h1 {
	padding:0px;			/*見出しの位置調整*/
}
div#header img {
	width:320px; height:48px;	/*会社ロゴ画像の幅と高さ*/
}

/*============================================
メインメニュー
============================================*/
ul#main_menu {
	width:100%; 			/*メインメニュー部分の幅*/
	margin:0px; 			/*マージン0px*/
}
#main_menu li a {
	background-color:#ffffff;	/*背景色*/
	color:rgb(0, 0, 0);			/*文字色*/
	width:110px; height:45px;	/*幅と高さ*/
	padding:15px 0px 0px 60px;	/*パディング*/
	background-image:url(images/);	/*背景画像を指定*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
	font-size:110%;			/*文字サイズを120%にする*/
}
#main_menu li a:hover {
	background-color:#ffffff; 	/*リンクにマウスが乗っても背景色は白のまま*/
	background-image:url(images/); /*リンクにマウスが乗っても同じ背景画像のまま*/
}

/*============================================
ヘッダ画像
============================================*/
#img_index {
	display:none;			/*トップページのヘッダ画像を非表示にする*/
}
#img_subpage {
	display:none;			/*トップページ以外のヘッダ画像を非表示にする*/
}

/*============================================
サブメニュー
============================================*/

/*---*/

/*============================================
インフォメーション
============================================*/
div#info {
	width:100%;			/*幅の指定*/
	float:none;			/*フロートしない*/
	padding:0px;			/*パディング*/
}
h3 {
	font-size:14px;			/*文字サイズ*/
	width:100%;			/*幅の指定*/
	margin:10px 0px 0px 0px;	/*マージン*/
	padding:10px 0px 10px 10px;	/*パディング*/
	background-color:#003399;	/*背景色*/
	color:#ffffff;			/*文字色*/
	border-radius:0px;		/*角丸にしない*/
}
p {
	width:95%;			/*幅の指定*/
	margin:10px;			/*マージン*/
	text-indent:1em;		/*インデント幅*/
}
.infoimg_index {
	display:block;			/*ブロック表示にする*/
	width:300px; height:225px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
	float:none;			/*フロートしない*/
}
.infoimg_subpage {
	display:block;			/*ブロック表示にする*/
	width:300px; height:225px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
	float:none;			/*フロートしない*/
}
.infoimg_tel {
	display:block;			/*ブロック表示にする*/
	width:300px; height:60px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
}
hr {
	clear:both;			/*フロート配置をクリアする*/
	width:100%;			/*幅の指定*/
	margin:10px 0px;		/*マージン*/
	border:1px dotted #cccccc;	/*内容の区切りをグレーの点線表示にする*/
}